<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificación de Reunión - StudyCircle</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
      padding: 20px 0;
      background-color: rgb(0, 132, 127);
      color: #ffffff;
      border-radius: 10px 10px 0 0;
    }
    .header h1 {
      margin: 0;
      font-size: 24px;
    }
    .content {
      padding: 20px;
      text-align: left;
    }
    .content p {
      font-size: 18px;
      color: #333333;
      line-height: 1.6;
    }
    .content a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: rgb(0, 132, 127);
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      font-size: 16px;
    }
    .footer {
      text-align: center;
      padding: 10px;
      font-size: 12px;
      color: #777777;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <h1>Notificación de Reunión - StudyCircle</h1>
    </div>
    <div class="content">
      <p>Hola <strong><%= @participant.participant_name %></strong>,</p>
      <p>Te informamos que la reunión sobre el tema <strong><%= @participant.topic_name %></strong> no se llevará a cabo.</p>
      <p>El tutor <strong><%= @current_user.first.name %></strong> ha cancelado la reunión.</p>
      <p>Descripción de la reunión: <strong><%= @participant.description %></strong></p>
      <p>Fecha de la reunión: 
        <strong>
          <%= @participant.status == "confirmed" ? @participant.date_time : "Indefinida" %>
        </strong>
      </p>
      <!-- Botón para explorar StudyCircle -->
      <a href="https://wyeworks-project.web.app/">Explorar StudyCircle</a>
    </div>
    <div class="footer">
      <p>&copy; 2024 StudyCircle. Todos los derechos reservados.</p>
    </div>
  </div>
</body>
</html>
